<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title></title>

    <!-- Angular js -->
    <script src="modules/angular/angular.js"></script>
    <script src="modules/angular-route/angular-route.js"></script>
    <script src="js/angular-chosen.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="../modules/app.module.js"></script>
    <script src="../controllers/drug.controller.js"></script>
    <script src="../services/drug.service.js"></script>
    <script src="../routes/main.routes.js"></script>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Toastr style -->
    <link href="css/plugins/toastr/toastr.min.css" rel="stylesheet">

    <!-- Gritter -->
    <link href="js/plugins/gritter/jquery.gritter.css" rel="stylesheet">

    <link href="css/animate.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet">


</head>

<body  ng-app="PharmacyApp" >
<div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">

            <ul class="nav metismenu" id="side-menu">

                <!-- profile content list -->
                <li class="nav-header">
                    <div class="dropdown profile-element"> <span>
                            <img alt="image" class="img-circle" src="img/profile_small.jpg" />
                             </span>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">SK Nuwan</strong>
                             </span> <span class="text-muted text-xs block">Art Director <b class="caret"></b></span> </span> </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li><a href="profile.html">Profile</a></li>
                            <li><a href="contacts.html">Contacts</a></li>
                            <li><a href="mailbox.html">Mailbox</a></li>
                            <li class="divider"></li>
                            <li><a href="login.html">Logout</a></li>
                        </ul>
                    </div>
                    <div class="logo-element">
                        IN+
                    </div>
                </li>



                <li class="active">
                    <a href="index.html"><i class="fa fa-th-large"></i> <span class="nav-label">Dashboards</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li class="active"><a href="#">Dashboard v.1</a></li>
                    </ul>
                </li>


                <li>
                    <a href="layouts.html"><i class="fa fa-diamond"></i> <span class="nav-label">Layouts</span></a>
                </li>

                <li>
                    <a href="#"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Graphs</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="#">Flot Charts</a></li>
                        <li><a href="#">Morris.js Charts</a></li>
                    </ul>
                </li>



                <li>
                    <a href="#"><i class="fa fa-sitemap"></i> <span class="nav-label">Menu Levels </span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li>
                            <a href="#">Third Level <span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level">
                                <li>
                                    <a href="#">Third Level Item</a>
                                </li>
                                <li>
                                    <a href="#">Third Level Item</a>
                                </li>
                                <li>
                                    <a href="#">Third Level Item</a>
                                </li>

                            </ul>
                        </li>
                        <li><a href="#">Second Level Item</a></li>
                        <li>
                            <a href="#">Second Level Item</a></li>
                        <li>
                            <a href="#">Second Level Item</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                    <form role="search" class="navbar-form-custom" action="search_results.html">
                        <div class="form-group">
                            <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
                        </div>
                    </form>
                </div>
                <ul class="nav navbar-top-links navbar-right">

                    <li>
                        <span class="m-r-sm text-muted welcome-message">Welcome to Drug Inventory</span>
                    </li>


                    <!-- notification drop down -->
                    <li class="dropdown">
                        <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                            <i class="fa fa-bell"></i>  <span class="label label-primary">8</span>
                        </a>
                        <ul class="dropdown-menu dropdown-alerts">
                            <li>
                                <a href="mailbox.html">
                                    <div>
                                        <i class="fa fa-envelope fa-fw"></i> You have 16 messages
                                        <span class="pull-right text-muted small">4 minutes ago</span>
                                    </div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="profile.html">
                                    <div>
                                        <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                        <span class="pull-right text-muted small">12 minutes ago</span>
                                    </div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="grid_options.html">
                                    <div>
                                        <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                        <span class="pull-right text-muted small">4 minutes ago</span>
                                    </div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <div class="text-center link-block">
                                    <a href="notifications.html">
                                        <strong>See All Alerts</strong>
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </li><!-- /notification dropdown -->


                    <li>
                        <a href="#">
                            <i class="fa fa-sign-out"></i> Log out
                        </a>
                    </li>

                </ul>

            </nav>
        </div>


        <div class="row" ng-controller="DrugController">
            <div class="col-lg-12">
                <div  class="wrapper wrapper-content" >


                    <div  class="col-md-12">
                        <h2 class="header">Drug Inventory</h2>
                        <div>
                            <div class="row">
                                <div class="col-md-1 col-md-offset-11">
                                    <button class="btn btn-default pull-right" data-toggle="collapse" data-target="#drugForm"
                                            aria-controls="drugForm" onclick="hideUpdateBtn()">Add Drug
                                    </button>
                                </div>
                            </div>


                        </div>

                        <div class="row collapse" id="drugForm" aria-expanded="false" >
                            <div class="col-lg-12">
                                <div class="ibox float-e-margins">
                                    <div class="ibox-title">
                                        <h5>To add a new Drug to the inventory Please Fill The Form Below...</h5>
                                        <div class="ibox-tools">
                                            <a class="collapse-link">
                                                <i class="fa fa-chevron-up"></i>
                                            </a>
                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                                <i class="fa fa-wrench"></i>
                                            </a>
                                            <ul class="dropdown-menu dropdown-vendor">
                                                <li><a href="#">Config option 1</a>
                                                </li>
                                                <li><a href="#">Config option 2</a>
                                                </li>
                                            </ul>
                                            <a class="close-link">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="ibox-content">
                                        <form  class="form-horizontal">
                                            <div class="form-group"><label class="col-sm-2 control-label">Drug Name</label>
                                                <div class="col-sm-10"><input id="input1" type="text" placeholder="Enter the drug name here" ng-model = "drug.drugName" class="form-control"></div>
                                            </div>
                                            <div class="form-group"><label class="col-sm-2 control-label">Drug Type</label>
                                                <div class="col-sm-10"><input id="input2" type="text" placeholder="Enter the drug type here" ng-model="drug.drugType" class="form-control"></div>
                                            </div>

                                            <div class="form-group"><label class="col-sm-2 control-label">Manufacturer</label>
                                                <div class="col-sm-10"><input id="input4" type="text" placeholder="Enter the manufacturer name here" ng-model="drug.manufacturer" class="form-control"></div>
                                            </div>
                                            <div class="form-group"><label class="col-sm-2 control-label">Generic Name</label>
                                                <div class="col-sm-10"><input id="input3" type="text" placeholder="Enter the generic name of the drug here" ng-model="drug.genericName" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group"><label class="col-sm-2 control-label">Date of Manufacture</label>
                                                <div class="col-sm-10"><input id="input5" type="text" ng-model="drug.dateOfManufacture" class="form-control"></div>
                                            </div>
                                            <div class="hr-line-dashed"></div>
                                            <div class="form-group"><label class="col-sm-2 control-label">Drug Category</label>
                                                <div class="col-sm-10"><input id="input6" type="text" ng-model="drug.category" class="form-control"></div>
                                            </div>

                                            <div class="form-group"><label class="col-sm-2 control-label">Date Of Expiry</label>
                                                <div class="col-sm-5"><input type="text" id="input7" class="form-control" ng-model="drug.dateOfExp"></div>
                                            </div>
                                            <div class="form-group"><label class="col-sm-2 control-label">Quantity</label>
                                                <div class="col-sm-10"><input id="input8" type="text" ng-model="drug.quantity" class="form-control"></div>
                                            </div>
                                            <div class="form-group"><label class="col-sm-2 control-label">Batch Number</label>
                                                <div class="col-sm-10"><input id="input9" type="text" ng-model="drug.batchNo" class="form-control"></div>
                                            </div>
                                            <div class="form-group"><label class="col-sm-2 control-label">Vendors</label>
                                                <div class="col-sm-10"><input id="input10" type="text" class="form-control"></div>
                                            </div>



                                            <div class="form-group">
                                                <div class="col-sm-4 col-sm-offset-2">
                                                    <button class="btn btn-danger" data-toggle="collapse" onclick="clearFiels()" data-target="#drugForm"
                                                            aria-controls="drugForm">Cancel</button>
                                                    <button class="btn btn-success" id="addBtn" data-toggle="collapse" onclick="clearFiels()"  ng-click="addDrug(drug)" data-target="#drugForm"
                                                            aria-controls="drugForm">Add</button>
                                                    <button class="btn btn-success" id="updateBtn" data-toggle="collapse" onclick="clearFiels()"  ng-click="editDrug(drug,drug._id)"data-target="#drugForm"
                                                            aria-controls="drugForm">Update</button>
                                                </div>
                                            </div>
                                            <br/><br/>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <table   class="table">
                                <thead>
                                <tr>

                                    <th>Drug Name</th>
                                    <th>Drug Type</th>
                                    <th>Manufacturer</th>
                                    <th>Generic Name</th>
                                    <th>Date of Manufacture</th>
                                    <th>Drug Category</th>
                                    <th>Date Of Expiry</th>
                                    <th>Quantity</th>
                                    <th>Batch Number</th>
                                    <th>Vendors</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="drug in drugs">

                                    <td>{{drug.drugName}}</td>
                                    <td>{{drug.drugType}}</td>
                                    <td>{{drug.manufacturer}}</td>
                                    <td>{{drug.genericName}}</td>
                                    <td>{{drug.dateOfManufacture}}</td>
                                    <td>{{drug.category}}</td>
                                    <td>{{drug.dateOfExp}}</td>
                                    <td>{{drug.quantity}}</td>
                                    <td>{{drug.batchNo}}</td>
                                    <td>{{drug.vendors}}</td>
                                    <td><button class="btn btn-warning"  ng-click="getDrugUsingId(drug._id)" data-toggle="collapse" data-target="#drugForm"
                                                aria-controls="drugForm" onclick="hideAddBtn">Edit</button></td>
                                    <td><button class="btn btn-danger" ng-click="deleteDrug(drug._id)">Delete</button></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>




            </div>
        </div>
    </div>
</div>
</div>

<!-- Mainly scripts -->
<script src="js/jquery-2.1.1.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="js/inspinia.js"></script>
<!-- Flot -->
<script src="js/plugins/flot/jquery.flot.js"></script>
<script src="js/plugins/flot/jquery.flot.tooltip.min.js"></script>
<script src="js/plugins/flot/jquery.flot.spline.js"></script>
<script src="js/plugins/flot/jquery.flot.resize.js"></script>
<script src="js/plugins/flot/jquery.flot.pie.js"></script>

<!-- Peity -->
<script src="js/plugins/peity/jquery.peity.min.js"></script>
<script src="js/demo/peity-demo.js"></script>



<!-- Custom and plugin javascript -->

<script src="js/plugins/pace/pace.min.js"></script>


<!-- jQuery UI -->
<script src="js/plugins/jquery-ui/jquery-ui.min.js"></script>
<!-- Toastr -->
<script src="js/plugins/toastr/toastr.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function() {
        $('#example').DataTable();
    } );
</script>

<!-- myFunctions -->
<script>
    function clearFiels() {
        input1.value = "";
        input2.value = "";
        input3.value = "";
        input4.value = "";
        input5.value = "";
        input6.value = "";
        input7.value ="";
        input8.value ="";
    }
    function hideAddBtn(){
        document.getElementById(addBtn).style.hide();
        document.getElementById(updateBtn).style.show();
    }
    function hideUpdateBtn(){
        document.getElementById(addBtn).style.show();
        document.getElementById(updateBtn).style.hide();
    }


</script>


</body>
</html>
