<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>HexSpeak | Prescription</title>
    
    <!-- Angular js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-animate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.js" integrity="sha256-lw0u1cTM3AYG0sY5cKefhETFxDjo/T5GTAppqOwgGPY=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>

    <!-- (Optional) Latest compiled and minified JavaScript translation files -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/i18n/defaults-*.min.js"></script>

    <script src="app.module.js"></script>
    <script src="controllers/prescription.controller.js"></script>
    <script src="controllers/user.controller.js"></script>
    <script src="controllers/drugX.controller.js"></script>
    <script src="services/prescription.service.js"></script>
    <script src="services/drug.service.js"></script>
    <script src="services/user.service.js"></script>
    <script src="services/mail.service.js"></script>

    
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Toastr style -->
    <link href="css/plugins/toastr/toastr.min.css" rel="stylesheet">

    <!-- Gritter -->
    <link href="js/plugins/gritter/jquery.gritter.css" rel="stylesheet">

    <link href="css/animate.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">


</head>

<body  ng-app="PharmacyApp"  ng-controller="PrescriptionController">
    <div id="wrapper"  ng-controller="UserController">
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">

                <ul class="nav metismenu" id="side-menu">
                    
                    <!-- profile content list -->
                    <li class="nav-header">
                        <div class="dropdown profile-element"> <span>
                            <img alt="image" class="img-circle" src="img/a6.jpg" />
                             </span>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">Admin</strong>
                             </span> <span class="text-muted text-xs block">Cheif Pharmacist<b class="caret"></b></span> </span> </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li><a href="profile.html">Profile</a></li>
                                <li><a href="contacts.html">Contacts</a></li>
                                <li><a href="mailbox.html">Mailbox</a></li>
                                <li class="divider"></li>
                                <li><a href="/app/login">Logout</a></li>
                            </ul>
                        </div>
                        <div class="logo-element">
                            IN+
                        </div>
                    </li>
                    <li class="active">
                        <a href="index.html"><i class="fa fa-th-large"></i> <span class="nav-label">Dashboards</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a href="/app/dashboard">Main Dashboard</a></li>
                            <li><a href="/app/users">User Management</a></li>
                            <li class="active"><a href="/app/prescriptions">Prescription Management</a></li>
                            <li><a href="dashboard_3.html">Vendor Management</a></li>
                            <li><a href="dashboard_4_1.html">Stock Management</a></li>
                            <li><a href="dashboard_5.html">Drug Dispense</a></li>
                        </ul>
                    </li>


                </ul>
            </div>
        </nav>

        <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="row border-bottom">
        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
            <form role="search" class="navbar-form-custom" action="search_results.html">
                <div class="form-group">
                    <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
                </div>
            </form>
        </div>
            <ul class="nav navbar-top-links navbar-right">
                
                <li>
                    <span class="m-r-sm text-muted welcome-message">Welcome to Pharmacy HexSpeak</span>
                </li>
                
                
                <!-- notification drop down -->                
                <li class="dropdown">
                    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell"></i>  <span class="label label-primary">8</span>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="mailbox.html">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> You have 16 messages
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="profile.html">
                                <div>
                                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                    <span class="pull-right text-muted small">12 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="grid_options.html">
                                <div>
                                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="text-center link-block">
                                <a href="notifications.html">
                                    <strong>See All Alerts</strong>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </li>
                    </ul>
                </li>
                <!-- /notification dropdown -->


                <li>
                    <a href="#">
                        <i class="fa fa-sign-out"></i> Log out
                    </a>
                </li>
                
            </ul>

        </nav>
        </div>
            
            
            <div class="row">
                <div class="col-lg-12">
                    <div  class="wrapper wrapper-content">


                        <div  class="col-md-12">
                            <h2 class="header">Prescription Management</h2>
                            <div>
                                <div class="row">
                                    <div class="col-md-1 col-md-offset-11">
                                        <button  ng-click="getCurrentUser()" class="btn btn-default pull-right" data-toggle="collapse" data-target="#userForm"
                                                aria-controls="prescriptionForm">Add Prescription
                                        </button>
                                    </div>
                                </div>


                                </div>

                                <div class="row collapse" id="userForm" aria-expanded="false">
                                    <div class="col-lg-12">
                                        <div class="ibox float-e-margins">
                                            <div class="ibox-title">
                                                <h5>Create a New Prescription<small> .  Fill The Form Below</small></h5>
                                                <div class="ibox-tools">
                                                    <a class="collapse-link">
                                                        <i class="fa fa-chevron-up"></i>
                                                    </a>
                                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                                        <i class="fa fa-wrench"></i>
                                                    </a>
                                                    <ul class="dropdown-menu dropdown-user">
                                                        <li><a href="#">Config option 1</a>
                                                        </li>
                                                        <li><a href="#">Config option 2</a>
                                                        </li>
                                                    </ul>
                                                    <a class="close-link">
                                                        <i class="fa fa-times"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="ibox-content">
                                                <form method="get" class="form-horizontal">
                                                   <div class="row">

                                                       <div class="col-md-6">
                                                           <div class="form-group"><label class="col-sm-4 control-label">First Name</label>
                                                               <div class="col-sm-6"><input type="text" ng-model = "prescription.firstName" placeholder="{{x.firstName}}" class="form-control"></div>
                                                           </div>
                                                       </div>

                                                       <div class="col-md-6">
                                                           <div class="form-group"><label class="col-sm-4 control-label">Last Name</label>
                                                               <div class="col-sm-6"><input type="text" ng-model="prescription.lastName" placeholder="{{x.lastName}}" class="form-control"></div>
                                                           </div>
                                                       </div>

                                                       <div class="col-md-6">
                                                           <div class="form-group"><label class="col-sm-4 control-label">Age</label>
                                                               <div class="col-sm-6"><input type="text" ng-model = "prescription.age" placeholder="{{x.age}}" class="form-control"></div>
                                                           </div>
                                                       </div>

                                                       <div class="col-md-6">
                                                           <div class="form-group"><label class="col-sm-4 control-label">Height</label>
                                                               <div class="col-sm-6"><input type="text" ng-model = "prescription.height" placeholder="{{x.height}}" class="form-control"></div>
                                                           </div>
                                                       </div>

                                                       <div class="col-md-6">
                                                           <div class="form-group"><label class="col-sm-4 control-label">Weight</label>
                                                               <div class="col-sm-6"><input type="text" ng-model = "prescription.weight" placeholder="{{x.weight}}" class="form-control"></div>
                                                           </div>

                                                       </div>


                                                       <div class="col-md-6">
                                                           <div class="form-group"><label class="col-sm-4 control-label">Address*</label>
                                                               <div class="col-sm-6"><input type="text" ng-model = "prescription.address" class="form-control"></div>
                                                           </div>
                                                       </div>


                                                       <div class="col-md-6">
                                                           <div class="form-group"><label class="col-sm-4 control-label">Email</label>
                                                               <div class="col-sm-6"><input type="text" ng-model = "prescription.email" placeholder="{{x.email}}" class="form-control"></div>
                                                           </div>
                                                       </div>


                                                       <div class="col-md-6">
                                                           <div class="form-group"><label class="col-sm-4 control-label">Doctor*</label>
                                                               <div class="col-sm-6"><input type="text" ng-model = "prescription.doctor"  class="form-control"></div>
                                                           </div>
                                                       </div>



                                                       <div class="col-md-12">
                                                           <div class="form-group"><label class="col-sm-2 control-label">Mobile</label>
                                                               <div class="col-sm-3"><input type="text" ng-model="prescription.contactNo" placeholder="+94-775856964" placeholder="{{cuser.mobile}}" class="form-control"> <span class="help-block m-b-none">Enter Mobile Number with Country Code.</span>
                                                               </div>
                                                           </div>
                                                       </div>

                                                       <!--jotform-->

                                                       <div class="row">
                                                           <div class="col-md-12">
                                                               <div class="form-group"><label class="col-sm-2 control-label">Allergies</label>
                                                                   <div class="col-sm-6"><input type="text" ng-model="prescription.allergies" placeholder="If there are any, Mention the Drug Types.." placeholder="{{cuser.allergies}}" class="form-control"> <span class="help-block m-b-none">E.g: Ammoxillin</span>
                                                                   </div>
                                                               </div>
                                                           </div>

                                                           <div class="col-md-12"  ng-controller="DrugXController">
                                                               <div class="form-group"><label class="col-sm-2 control-label">Medicine</label>
                                                                   <div class="row">
                                                                       <!--drug-->
                                                                       <div class="col-sm-3"><select name="drugName" ng-model="prescription.medicine1.name">
                                                                           <option ng-selected="prescription.medicine1.name=='{{drug.drugName}}'" ng-repeat="drug in drugs" value="{{drug.drugName}}">{{drug.drugName}}</option>
                                                                       </select>

                                                                           <span class="help-block m-b-none">E.g: Oxcetol 300mg</span></div>
                                                                       <div class="col-sm-3"><input type="text" ng-model="prescription.medicine1.cards" placeholder="No. Of Cards" placeholder="{{prescription.allergies}}" class="form-control"> <span class="help-block m-b-none">E.g: 3 </span></div>
                                                                       <div class="col-sm-3"><input type="text" ng-model="prescription.medicine1.instructions" placeholder="Instructions" placeholder="{{prescription.allergies}}" class="form-control"> <span class="help-block m-b-none">E.g: 3 Times Before Meal => 3B</span></div>

                                                                   </div>
                                                               </div>



                                                               <div class="form-group"><label class="col-sm-2 control-label"></label>
                                                                   <div class="row">
                                                                       <!--drug-->
                                                                       <div class="col-sm-3"><select name="drugName" ng-model="prescription.medicine2.name">
                                                                           <option ng-selected="prescription.medicine2.name=='{{drug.drugName}}'" ng-repeat="drug in drugs" value="{{drug.drugName}}">{{drug.drugName}}</option>
                                                                       </select>

                                                                           <span class="help-block m-b-none"></span></div>
                                                                       <div class="col-sm-3"><input type="text" ng-model="prescription.medicine2.cards" placeholder="No. Of Cards" placeholder="{{prescription.allergies}}" class="form-control"> <span class="help-block m-b-none"></span></div>
                                                                       <div class="col-sm-3"><input type="text" ng-model="prescription.medicine2.instructions" placeholder="Instructions" placeholder="{{prescription.allergies}}" class="form-control"> <span class="help-block m-b-none"></span></div>

                                                                   </div>
                                                               </div>



                                                               <div class="form-group"><label class="col-sm-2 control-label"></label>
                                                                   <div class="row">
                                                                       <!--drug-->
                                                                       <div class="col-sm-3"><select name="drugName" ng-model="prescription.medicine3.name">
                                                                           <option ng-selected="prescription.medicine3.name=='{{drug.drugName}}'" ng-repeat="drug in drugs" value="{{drug.drugName}}">{{drug.drugName}}</option>
                                                                       </select>

                                                                           <span class="help-block m-b-none"></span></div>
                                                                       <div class="col-sm-3"><input type="text" ng-model="prescription.medicine3.cards" placeholder="No. Of Cards" placeholder="{{prescription.allergies}}" class="form-control"> <span class="help-block m-b-none"></span></div>
                                                                       <div class="col-sm-3"><input type="text" ng-model="prescription.medicine3.instructions" placeholder="Instructions" placeholder="{{prescription.allergies}}" class="form-control"> <span class="help-block m-b-none"></span></div>

                                                                   </div>
                                                               </div>

                                                               <div class="form-group"><label class="col-sm-2 control-label"></label>
                                                                   <div class="row">
                                                                       <!--drug-->
                                                                       <div class="col-sm-3"><select name="drugName" ng-model="prescription.medicine4.name">
                                                                           <option ng-selected="prescription.medicine4.name=='{{drug.drugName}}'" ng-repeat="drug in drugs" value="{{drug.drugName}}">{{drug.drugName}}</option>
                                                                       </select>

                                                                           <span class="help-block m-b-none"></span></div>
                                                                       <div class="col-sm-3"><input type="text" ng-model="prescription.medicine4.cards" placeholder="No. Of Cards" placeholder="{{prescription.allergies}}" class="form-control"> <span class="help-block m-b-none"></span></div>
                                                                       <div class="col-sm-3"><input type="text" ng-model="prescription.medicine4.instructions" placeholder="Instructions" placeholder="{{prescription.allergies}}" class="form-control"> <span class="help-block m-b-none"></span></div>

                                                                   </div>
                                                               </div>


                                                               <div class="form-group"><label class="col-sm-2 control-label"></label>
                                                                   <div class="row">
                                                                       <!--drug-->
                                                                       <div class="col-sm-3"><select name="drugName" ng-model="prescription.medicine5.name">
                                                                           <option ng-selected="prescription.medicine5.name=='{{drug.drugName}}'" ng-repeat="drug in drugs" value="{{drug.drugName}}">{{drug.drugName}}</option>
                                                                       </select>

                                                                           <span class="help-block m-b-none"></span></div>
                                                                       <div class="col-sm-3"><input type="text" ng-model="prescription.medicine5.cards" placeholder="No. Of Cards" placeholder="{{prescription.allergies}}" class="form-control"> <span class="help-block m-b-none"></span></div>
                                                                       <div class="col-sm-3"><input type="text" ng-model="prescription.medicine5.instructions" placeholder="Instructions" placeholder="{{prescription.allergies}}" class="form-control"> <span class="help-block m-b-none"></span></div>

                                                                   </div>
                                                               </div>



                                                               <div class="form-group"><label class="col-sm-2 control-label"></label>
                                                                   <div class="row">
                                                                       <!--drug-->
                                                                       <div class="col-sm-3"><select name="drugName" ng-model="prescription.medicine6.name">
                                                                           <option ng-selected="prescription.medicine6.name=='{{drug.drugName}}'" ng-repeat="drug in drugs" value="{{drug.drugName}}">{{drug.drugName}}</option>
                                                                       </select>

                                                                           <span class="help-block m-b-none"></span></div>
                                                                       <div class="col-sm-3"><input type="text" ng-model="prescription.medicine6.cards" placeholder="No. Of Cards" placeholder="{{prescription.allergies}}" class="form-control"> <span class="help-block m-b-none"></span></div>
                                                                       <div class="col-sm-3"><input type="text" ng-model="prescription.medicine6.instructions" placeholder="Instructions" placeholder="{{prescription.allergies}}" class="form-control"> <span class="help-block m-b-none"></span></div>

                                                                   </div>
                                                               </div>



                                                               <div class="form-group"><label class="col-sm-2 control-label"></label>
                                                                   <div class="row">
                                                                       <!--drug-->
                                                                       <div class="col-sm-3"><select name="drugName" ng-model="prescription.medicine7.name">
                                                                           <option ng-selected="prescription.medicine7.name=='{{drug.drugName}}'" ng-repeat="drug in drugs" value="{{drug.drugName}}">{{drug.drugName}}</option>
                                                                       </select>

                                                                           <span class="help-block m-b-none"></span></div>
                                                                       <div class="col-sm-3"><input type="text" ng-model="prescription.medicine7.cards" placeholder="No. Of Cards" placeholder="{{prescription.allergies}}" class="form-control"> <span class="help-block m-b-none"></span></div>
                                                                       <div class="col-sm-3"><input type="text" ng-model="prescription.medicine7.instructions" placeholder="Instructions" placeholder="{{prescription.allergies}}" class="form-control"> <span class="help-block m-b-none"></span></div>

                                                                   </div>
                                                               </div>



                                                               <div class="form-group"><label class="col-sm-2 control-label"></label>
                                                                   <div class="row">
                                                                       <!--drug-->
                                                                       <div class="col-sm-3"><select name="drugName" ng-model="prescription.medicine8.name">
                                                                           <option ng-selected="prescription.medicine8.name=='{{drug.drugName}}'" ng-repeat="drug in drugs" value="{{drug.drugName}}">{{drug.drugName}}</option>
                                                                       </select>

                                                                           <span class="help-block m-b-none"></span></div>
                                                                       <div class="col-sm-3"><input type="text" ng-model="prescription.medicine8.cards" placeholder="No. Of Cards" placeholder="{{prescription.allergies}}" class="form-control"> <span class="help-block m-b-none"></span></div>
                                                                       <div class="col-sm-3"><input type="text" ng-model="prescription.medicine8.instructions" placeholder="Instructions" placeholder="{{prescription.allergies}}" class="form-control"> <span class="help-block m-b-none"></span></div>

                                                                   </div>
                                                               </div>




                                                               <div class="form-group"><label class="col-sm-2 control-label"></label>
                                                                   <div class="row">
                                                                       <!--drug-->
                                                                       <div class="col-sm-3">
                                                                           <select name="drugName" ng-model="prescription.medicine9.name">
                                                                           <option  ng-selected="prescription.medicine9.name=='{{drug.drugName}}'" ng-repeat="drug in drugs" value="{{drug.drugName}}">{{drug.drugName}}</option>

                                                                       </select>

                                                                           <span class="help-block m-b-none"></span></div>
                                                                       <div class="col-sm-3"><input type="text" ng-model="prescription.medicine9.cards" placeholder="No. Of Cards"  class="form-control"> <span class="help-block m-b-none"></span></div>
                                                                       <div class="col-sm-3"><input type="text" ng-model="prescription.medicine9.instructions" placeholder="Instructions"  class="form-control"> <span class="help-block m-b-none"></span></div>


                                                                   </div>
                                                               </div>



                                                           </div>
                                                       </div>


                                                    <div class="form-group">
                                                        <div class="col-sm-4 col-sm-offset-2">
                                                            <button class="btn btn-danger" data-toggle="collapse" data-target="#userForm"
                                                                    aria-controls="prescriptionForm" type="submit">Cancel</button>
                                                            <button class="btn btn-success" onclick="alertOnSave();" ng-click="addPrescription(prescription)">Save changes</button>
                                                        </div>
                                                    </div>
                                                <br/><br/>
                                                   </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <!---->
                            <!--TABLE STARTS-->

                            <!---->
                            <div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <tr>
                                            <td align="right">Search :</td>
                                            <td><input  ng-model="Pquery[PqueryBy]" /></td>
                                        </tr>
                                    </div>
                                    <div class="col-md-6">
                                        <tr>
                                            <td align="right">Search By :</td>
                                            <td>
                                                <select ng-model="PqueryBy">
                                                    <option value="firstName">FIRST NAME</option>
                                                    <option value="lastName">LAST NAME</option>
                                                    <option value="mobile">MOBILE</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <br/>
                                        <br/>
                                        <br/>
                                    </div>
                                </div>


                                <div class="row" >
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>First name</th>
                                            <th>Last name</th>
                                            <th>Age</th>
                                            <th>Gender</th>
                                            <th>Height</th>
                                            <th>Weight</th>
                                            <th>email</th>
                                            <th>doctor</th>
                                            <th>BG</th>
                                            <th>contactNo</th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="prescription in prescriptions|filter:Pquery">
                                            <td>{{prescription.firstName}}</td>
                                            <td>{{prescription.lastName}} </td>
                                            <td>{{prescription.age}} </td>
                                            <td>{{prescription.gender}} </td>
                                            <td>{{prescription.height}} </td>
                                            <td>{{prescription.weight}} </td>
                                            <td>{{prescription.email}} </td>
                                            <td>{{prescription.doctor}} </td>
                                            <td>{{prescription.bloodGroup}} </td>
                                            <td>{{prescription.contactNo}} </td>
                                            <!--<td><input ng-model="user.lastNames" placeholder="lastname"/></td>-->
                                            <td><button class="btn btn-success" data-toggle="collapse" data-target="#dispense"
                                                        aria-controls="dispense">Dispense</button></td>
                                            <td><button class="btn btn-success" ng-click="editPrescription(prescription,prescription._id)">Edit</button></td>
                                            <td><button class="btn btn-primary" ng-click="viewPrescription(prescription)" data-toggle="collapse" data-target="#displayPrescription"
                                                        aria-controls="displayPrescription">View</button></td>
                                            <td><button class="btn btn-danger" ng-click="deletePrescription(prescription._id)">Delete</button></td>
                                            <div class="alert jumbotron row collapse" id="displayPrescription" aria-expanded="false">

                                                <h5>Prescription Details</h5>
                                                <button class="btn btn-sm btn-default btn-danger pull-right glyphicon glyphicon-remove " data-toggle="collapse" data-target="#displayPrescription"
                                                        aria-controls="displayPrescription">Close</button>
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <h4>Drug Name           : {{prescription.medicine1.name}}</h4>
                                                        <h4>Quantity            : {{prescription.medicine1.cards}}</h4>
                                                        <h4>Instructions on Use : {{prescription.medicine1.instructions}}</h4>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <h4>Drug Name           : {{prescription.medicine2.name}}</h4>
                                                        <h4>Quantity            : {{prescription.medicine2.cards}}</h4>
                                                        <h4>Instructions on Use : {{prescription.medicine2.instructions}}</h4>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <h4>Drug Name           : {{prescription.medicine3.name}}</h4>
                                                        <h4>Quantity            : {{prescription.medicine3.cards}}</h4>
                                                        <h4>Instructions on Use : {{prescription.medicine3.instructions}}</h4>
                                                        <strong><h5><button data-toggle="collapse" data-target="#box2"
                                                                            aria-controls="box2">View More..</button> </h5></strong>
                                                    </div>
                                                </div>

                                                <div class="row collapse" id="box2" aria-expanded="false">
                                                    <div class="col-md-3">
                                                        <h4>Drug Name           : {{prescription.medicine4.name}}</h4>
                                                        <h4>Quantity            : {{prescription.medicine4.cards}}</h4>
                                                        <h4>Instructions on Use : {{prescription.medicine4.instructions}}</h4>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <h4>Drug Name           : {{prescription.medicine5.name}}</h4>
                                                        <h4>Quantity            : {{prescription.medicine5.cards}}</h4>
                                                        <h4>Instructions on Use : {{prescription.medicine5.instructions}}</h4>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <h4>Drug Name           : {{prescription.medicine6.name}}</h4>
                                                        <h4>Quantity            : {{prescription.medicine6.cards}}</h4>
                                                        <h4>Instructions on Use : {{prescription.medicine6.instructions}}</h4>
                                                        <strong><h5><button  data-toggle="collapse" data-target="#box3"
                                                                             aria-controls="box3" onclick="this.innerHTML=='View Less..' ">View More..</button> </h5></strong>
                                                    </div>

                                                </div>
                                                <div class="row collapse" id="box3" aria-expanded="false">
                                                    <div class="col-md-3">
                                                        <h4>Drug Name           : {{prescription.medicine7.name}}</h4>
                                                        <h4>Quantity            : {{prescription.medicine7.cards}}</h4>
                                                        <h4>Instructions on Use : {{prescription.medicine7.instructions}}</h4>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <h4>Drug Name           : {{prescription.medicine8.name}}</h4>
                                                        <h4>Quantity            : {{prescription.medicine8.cards}}</h4>
                                                        <h4>Instructions on Use : {{prescription.medicine8.instructions}}</h4>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <h4>Drug Name           : {{prescription.medicine9.name}}</h4>
                                                        <h4>Quantity            : {{prescription.medicine9.cards}}</h4>
                                                        <h4>Instructions on Use : {{prescription.medicine9.instructions}}</h4>
                                                    </div>
                                                </div>
                                            </div>
                                            <br/><br/>
                                            <div class="alert alert-success collapse" id="dispense" aria-expanded="false" ng-controller="DrugXController">
                                                <h2>Total Price is : </h2>
                                                <h4>Your Cart : </h4>
                                                <h3>{{prescription.medicine9.name}} | {{prescription.medicine8.name}} | {{prescription.medicine7.name}} | {{prescription.medicine6.name}} | {{prescription.medicine9.name}}
                                                    | {{prescription.medicine5.name}} | {{prescription.medicine4.name}} | {{prescription.medicine3.name}} | {{prescription.medicine2.name}} | {{prescription.medicine1.name}} </h3><br/>
                                                <button class="btn btn-block btn-success btn-lg" onclick="successPayment();">Pay</button>
                                            </div>
                                        </tr>
                                        <script type="application/javascript">
                                            function successPayment() {
                                                swal('Payment Done Successfully!!');
                                            }
                                            function alertOnSave() {
                                                swal('Prescription Saved Successfully!!');
                                            }
                                        </script>

                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <!--User Search -->
                            <div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <tr>
                                            <td align="right">Search :</td>
                                            <td><input  ng-model="query[queryBy]" /></td>
                                        </tr>
                                    </div>
                                    <div class="col-md-6">
                                        <tr>
                                            <td align="right">Search By :</td>
                                            <td>
                                                <select ng-model="queryBy">
                                                    <option value="$"></option>
                                                    <option value="firstName">FIRST NAME</option>
                                                    <option value="lastName">LAST NAME</option>
                                                    <option value="mobile">MOBILE</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <br/>
                                        <br/>
                                        <br/>
                                    </div>
                                </div>
                                <!--UserList-->

                                <div class="row" >
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>First name</th>
                                            <th>Last name</th>
                                            <th>Mobile</th>
                                            <th>User Type</th>
                                            <th>Email</th>
                                            <th></th>
                                            <th></th>
                                            <th></th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="user in users | filter:query">
                                            <td>{{user.firstName}}</td>
                                            <td>{{user.lastName}} </td>
                                            <td>{{user.mobile}}</td>
                                            <td>{{user.userType}} </td>
                                            <td>{{user.email}}</td>
                                            <td><button class="btn btn-primary" data-toggle="collapse" data-target="#userForm"
                                                        aria-controls="prescriptionForm" ng-click="setUserForPrescription(user)">Add Prescription</button></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>


                         </div>
                        </div>
                    </div>
                </div>
            <!--Reg Patients Section-->

            <div class="row">

            </div>
            </div>
        </div>        
    </div>

    <!-- Mainly scripts -->
    <script src="js/jquery-2.1.1.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="js/inspinia.js"></script>
    <!-- Flot -->
    <script src="js/plugins/flot/jquery.flot.js"></script>
    <script src="js/plugins/flot/jquery.flot.tooltip.min.js"></script>
    <script src="js/plugins/flot/jquery.flot.spline.js"></script>
    <script src="js/plugins/flot/jquery.flot.resize.js"></script>
    <script src="js/plugins/flot/jquery.flot.pie.js"></script>

    <!-- Peity -->
    <script src="js/plugins/peity/jquery.peity.min.js"></script>
    <script src="js/demo/peity-demo.js"></script>



    <!-- Custom and plugin javascript -->

    <script src="js/plugins/pace/pace.min.js"></script>


    <!-- jQuery UI -->
    <script src="js/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Toastr -->
    <script src="js/plugins/toastr/toastr.min.js"></script>



</body>
</html>
