<!--
*
*  INSPINIA - Responsive Admin Theme
*  version 2.6.2
*
-->

<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>HexSpeak | User</title>
    
    <!-- Angular js -->
    <!-- Angular js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-animate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.js" integrity="sha256-lw0u1cTM3AYG0sY5cKefhETFxDjo/T5GTAppqOwgGPY=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
    <script src="app.module.js"></script>
    <script src="controllers/prescription.controller.js"></script>
    <script src="controllers/user.controller.js"></script>
    <script src="services/prescription.service.js"></script>
    <script src="services/user.service.js"></script>

    
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Toastr style -->
    <link href="css/plugins/toastr/toastr.min.css" rel="stylesheet">

    <!-- Gritter -->
    <link href="js/plugins/gritter/jquery.gritter.css" rel="stylesheet">

    <link href="css/animate.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">


</head>

<body  ng-app="PharmacyApp" >
    <div id="wrapper">
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                
                <ul class="nav metismenu" id="side-menu">
                    
                    <!-- profile content list -->
                    <li class="nav-header">
                        <div class="dropdown profile-element"> <span>
                            <img alt="image" class="img-circle" src="img/profile_small.jpg" />
                             </span>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">David Williams</strong>
                             </span> <span class="text-muted text-xs block">Art Director <b class="caret"></b></span> </span> </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li><a href="profile.html">Profile</a></li>
                                <li><a href="contacts.html">Contacts</a></li>
                                <li><a href="mailbox.html">Mailbox</a></li>
                                <li class="divider"></li>
                                <li><a href="login.ejs">Logout</a></li>
                            </ul>
                        </div>
                        <div class="logo-element">
                            IN+
                        </div>
                    </li>
                    
                    

                    <li class="active">
                        <a href="index.html"><i class="fa fa-th-large"></i> <span class="nav-label">Dashboards</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li class="active"><a href="#">Cheif Pharmacist</a></li>
                            <li class="active"><a href="#">Assistant Pharmacist</a></li>
                        </ul>
                    </li>
                    

                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Graphs</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li><a href="#">Flot Charts</a></li>
                            <li><a href="#">Morris.js Charts</a></li>
                        </ul>
                    </li>  
                  
                    
                   
                    <li>
                        <a href="#"><i class="fa fa-sitemap"></i> <span class="nav-label">Menu Levels </span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li>
                                <a href="#">Third Level <span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="#">Third Level Item</a>
                                    </li>
                                    <li>
                                        <a href="#">Third Level Item</a>
                                    </li>
                                    <li>
                                        <a href="#">Third Level Item</a>
                                    </li>

                                </ul>
                            </li>
                            <li><a href="#">Second Level Item</a></li>
                            <li>
                                <a href="#">Second Level Item</a></li>
                            <li>
                                <a href="#">Second Level Item</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>

        <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="row border-bottom">
        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="/app/users"><i class="fa fa-bars"></i> </a>
            <form role="search" class="navbar-form-custom" action="search_results.html">
                <div class="form-group">
                    <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
                </div>
            </form>
        </div>
            <ul class="nav navbar-top-links navbar-right">
                
                <li>
                    <span class="m-r-sm text-muted welcome-message">Welcome to Pharmacy HexSpeak</span>
                </li>
                
                
                <!-- notification drop down -->                
                <li class="dropdown">
                    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell"></i>  <span class="label label-primary">8</span>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="mailbox.html">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> You have 16 messages
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="profile.html">
                                <div>
                                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                    <span class="pull-right text-muted small">12 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="grid_options.html">
                                <div>
                                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="text-center link-block">
                                <a href="notifications.html">
                                    <strong>See All Alerts</strong>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </li>
                    </ul>
                </li><!-- /notification dropdown -->


                <li>
                    <a href="#">
                        <i class="fa fa-sign-out"></i> Log out
                    </a>
                </li>
                
            </ul>

        </nav>
        </div>
            
            
            <div class="row"  ng-controller="UserController">
                <div class="col-lg-12">
                    <div  class="wrapper wrapper-content">


                        <div  class="col-md-12">
                            <h2 class="header">User Management</h2>
                            <div>
                                <div class="row">
                                    <div class="col-md-1 col-md-offset-11">
                                        <button class="btn btn-default pull-right" data-toggle="collapse" data-target="#userForm"
                                                aria-controls="userForm">Create User
                                        </button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <tr>
                                            <td align="right">Search :</td>
                                            <td><input  ng-model="query[queryBy]" /></td>
                                        </tr>
                                    </div>
                                    <div class="col-md-6">
                                        <tr>
                                            <td align="right">Search By :</td>
                                            <td>
                                                <select ng-model="queryBy">
                                                    <option value="$"></option>
                                                    <option value="firstName">FIRST NAME</option>
                                                    <option value="lastName">LAST NAME</option>
                                                    <option value="mobile">MOBILE</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <br/>
                                        <br/>
                                        <br/>
                                    </div>
                                </div>


                                </div>

                                <div class="row collapse" id="userForm" aria-expanded="false">
                                    <div class="col-lg-12">
                                        <div class="ibox float-e-margins">
                                            <div class="ibox-title">
                                                <h5>Create a New User<small> .  Fill The Form Below</small></h5>
                                                <div class="ibox-tools">
                                                    <a class="collapse-link">
                                                        <i class="fa fa-chevron-up"></i>
                                                    </a>
                                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                                        <i class="fa fa-wrench"></i>
                                                    </a>
                                                    <ul class="dropdown-menu dropdown-user">
                                                        <li><a href="#">Config option 1</a>
                                                        </li>
                                                        <li><a href="#">Config option 2</a>
                                                        </li>
                                                    </ul>
                                                    <a class="close-link">
                                                        <i class="fa fa-times"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="ibox-content">
                                                <form method="get" class="form-horizontal">
                                                   <div class="row">
                                                       <div class="col-md-6">
                                                           <div class="form-group"><label class="col-sm-4 control-label">First Name</label>
                                                               <div class="col-sm-6"><input type="text" ng-model = "user.firstName" class="form-control"></div>
                                                           </div>
                                                       </div>
                                                       <div class="col-md-6">
                                                           <div class="form-group"><label class="col-sm-4 control-label">Last Name</label>
                                                               <div class="col-sm-6"><input type="text" ng-model="user.lastName" class="form-control"></div>
                                                           </div>
                                                       </div>

                                                   </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group"><label class="col-sm-4 control-label">Username</label>
                                                            <div class="col-sm-6"><input type="text" ng-model = "user.userName" class="form-control" name="username"></div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group"><label class="col-sm-4 control-label">Email</label>
                                                            <div class="col-sm-6"><input type="text" ng-model = "user.email" class="form-control" name="email"></div>
                                                        </div></div>


                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group"><label class="col-sm-4 control-label">Password</label>
                                                                <div class="col-sm-6"><input type="password" ng-model = "user.password" class="form-control" name="password"></div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group"><label class="col-sm-4 control-label">Confirm Password</label>
                                                                <div class="col-sm-6"><input type="password" class="form-control" name="password"></div>
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <div class="form-group"><label class="col-sm-2 control-label">Mobile</label>
                                                        <div class="col-sm-3"><input type="text" ng-model="user.mobile" placeholder="+94-775856964" class="form-control"> <span class="help-block m-b-none">Enter Mobile Number with Country Code.</span>
                                                        </div>
                                                    </div>
                                                    <div class="hr-line-dashed"></div>
                                                    <div class="form-group"><label class="col-sm-2 control-label">User Type <br/>
                                                        <small class="text-navy">Pharmacist | Doctor | Patient</small></label>

                                                        <div class="col-sm-10">
                                                            <div><label style="color: #500a6f"> <input type="radio" checked="" ng-model = "user.userType" value="CPharmacist" id="CPharmacist" name="optionsRadios">  Chief Pharmacist </label></div>
                                                            <div><label style="color: #8a1f11"> <input type="radio" ng-model = "user.userType" value="APharmacist" id="APharmacist" name="optionsRadios">  Assistant Pharmacist</label></div>
                                                            <div><label style="color: #1AB394"> <input type="radio" ng-model = "user.userType" value="Doctor" id="Doctor" name="optionsRadios" onclick="window.invalidate_input()"> Doctor</label></div>
                                                            <div><label style="color: #0d8ddb" > <input type="radio" ng-model = "user.userType" value="Patient" id="Patient" name="optionsRadios">  Patient</label></div>
                                                        </div>
                                                    </div>

                                                    <!--Patient Section-->
                                                    <div class="hr-line-dashed"></div>
                                                    <div class="row">
                                                        <div class="col-md-2"></div>
                                                        <div class="col-md-6">
                                                            <h3 style="align-self: center; opacity: 1; color: #0d8ddb">Patient Information</h3><br/>
                                                        </div>
                                                    </div>
                                                    <div class="row">

                                                        <div class="col-md-6">
                                                            <div class="form-group"><label class="col-sm-4 control-label">Blood Group</label>

                                                                <div class="col-sm-6"><select ng-model="user.bloodGroup" class="form-control m-b" id="Patient_BG" name="bloodGroup">
                                                                    <option>Select</option>
                                                                    <option ng-selected="user.bloodGroup=='B+'">B+</option>
                                                                    <option ng-selected="user.bloodGroup=='B-'">B-</option>
                                                                    <option ng-selected="user.bloodGroup=='A+'">A+</option>
                                                                    <option ng-selected="user.bloodGroup=='A-'">A-</option>
                                                                    <option ng-selected="user.bloodGroup=='AB+'">AB+</option>
                                                                    <option ng-selected="user.bloodGroup=='AB-'">AB-</option>
                                                                    <option ng-selected="user.bloodGroup=='O+'">O+</option>
                                                                    <option ng-selected="user.bloodGroup=='O-'">O-</option>
                                                                </select>

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">

                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="col-sm-4 control-label">Gender <br/>
                                                                    <small class="text-navy">Male | Female </small></label>


                                                                <div><label> <input type="radio"  ng-model="user.gender" value="male" id="male" name="X" disabled>  Male </label></div>
                                                                <div><label> <input type="radio" ng-model="user.gender" value="Female" id="female" name="X" disabled>  Female</label></div>

                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="col-md-4">
                                                                <div class="form-group"><label class="col-sm-4 control-label">Age</label>
                                                                    <div class="col-sm-6"><input type="text" id="age" ng-model = "user.age" class="form-control" disabled></div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <div class="form-group"><label class="col-sm-4 control-label">Height</label>
                                                                    <div class="col-sm-6"><input type="text" id="height" ng-model = "user.height" class="form-control" disabled></div>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-4">
                                                                <div class="form-group"><label class="col-sm-4 control-label">Weight</label>
                                                                    <div class="col-sm-6"><input type="text" id="weight" ng-model = "user.weight" class="form-control" disabled></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>



                                                    <div class="hr-line-dashed"></div>

                                                    <div class="form-group"><label class="col-sm-2 control-label">Hospital</label>
                                                        <div class="col-sm-5"><input id="txtBoxHospital" type="text" ng-model="user.hospital" placeholder=" E.g : National Hospital" class="form-control" disabled></div>
                                                    </div>
                                                    <div class="hr-line-dashed"></div>
                                                    <div class="form-group">
                                                        <div class="col-sm-4 col-sm-offset-2">
                                                            <button class="btn btn-danger" type="submit">Cancel</button>
                                                            <button class="btn btn-success"  ng-click="addUser(user)">Save changes</button>
                                                        </div>
                                                    </div>
                                                <br/><br/>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row" >
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>First name</th>
                                            <th>Last name</th>
                                            <th>Mobile</th>
                                            <th>User Type</th>
                                            <th>Email</th>
                                            <th></th>
                                            <th></th>
                                            <th></th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="user in users | filter:query">
                                            <td>{{user.firstName}}</td>
                                            <td>{{user.lastName}} </td>
                                            <td>{{user.mobile}}</td>
                                            <td>{{user.userType}} </td>
                                            <td>{{user.email}}</td>
                                            <!--<td><input ng-model="user.lastNames" placeholder="lastname"/></td>-->
                                            <td><button class="btn btn-success" ng-click="editUser(user,user._id)">Edit</button></td>
                                            <td><button class="btn btn-danger" ng-click="deleteUser(user._id)">Delete</button></td>
                                            <td><button class="btn btn-primary" ng-click="setCurrentUser(user)" onclick="location.href='/app/prescriptions'">Add Prescription</button></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>

    <!-- Mainly scripts -->
    <script src="js/jquery-2.1.1.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="js/inspinia.js"></script>
    <!-- Flot -->
    <script src="js/plugins/flot/jquery.flot.js"></script>
    <script src="js/plugins/flot/jquery.flot.tooltip.min.js"></script>
    <script src="js/plugins/flot/jquery.flot.spline.js"></script>
    <script src="js/plugins/flot/jquery.flot.resize.js"></script>
    <script src="js/plugins/flot/jquery.flot.pie.js"></script>

    <!-- Peity -->
    <script src="js/plugins/peity/jquery.peity.min.js"></script>
    <script src="js/demo/peity-demo.js"></script>



    <!-- Custom and plugin javascript -->

    <script src="js/plugins/pace/pace.min.js"></script>


    <!-- jQuery UI -->
    <script src="js/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Toastr -->
    <script src="js/plugins/toastr/toastr.min.js"></script>

    <script type="text/javascript">
        $(function() {

            window.invalidate_input = function() {
                if ($('input[name=optionsRadios]:checked').val() == "Doctor")
                    $('#txtBoxHospital').removeAttr('disabled');
                else
                    $('#txtBoxHospital').attr('disabled', 'disabled');
            };

            $("input[name=optionsRadios]").change(invalidate_input);

            invalidate_input();
        });

        $(function() {

            window.invalidate_input = function() {
                if ($('input[name=optionsRadios]:checked').val() == "Patient")
                    $('#Patient_BG').removeAttr('disabled'),
                    $('#age').removeAttr('disabled'),
                    $('#male').removeAttr('disabled'),
                    $('#female').removeAttr('disabled'),
                    $('#height').removeAttr('disabled'),
                    $('#weight').removeAttr('disabled');
                else
                    $('#Patient_BG').attr('disabled', 'disabled'),
                    $('#age').attr('disabled', 'disabled'),
                    $('#male').attr('disabled', 'disabled'),
                    $('#female').attr('disabled', 'disabled'),
                    $('#height').attr('disabled', 'disabled'),
                    $('#weight').attr('disabled', 'disabled');
            };

            $("input[name=optionsRadios]").change(invalidate_input);

            invalidate_input();
        });
    </script>
</body>
</html>
